body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #c00000;
}

p {
font-size:18px;
font-style: normal;
font-weight: 100;
color:#372f2f
}

h1 {
font-size:42px;
font-family:sans-serif;
text-align:center;
color:#c00000;
letter-spacing: 3px;
}

h3 {
font-size:22px;
font-family:sans-serif;
color:#c00000;
}

img {
    display: block;
    margin: 0 auto;
    border-style: ridge;
    border-color:#c00000;
    border-width: 6px;
    border-radius: 8px;
}

.bodyimg {
 height:300px;
 text-align: center;
}

#container {width:100&#37;;}
#left {float: left; width: 48%}
#right {float:left; width: 48%;clear:both}

.imgsrc_r {
font-size:10px;
font-style: italic;
color:rgb(172,172,172);
text_align: right;
}

.imgsrc_l {
font-size:10px;
font-style: italic;
color:rgb(172,172,172);
text_align: left;    
}
